/* Variables */
:root {
    --primary-color: #23EA51;
    --secondary-color: #AA6290;
    --text-color: #f4f4f9;
    --text-color-black: #050505;
    --background-color: #050505;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: sans-serif;
    background-color: var(--background-color);
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

/* Compartidos/Shared */
.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    opacity: 0.8;
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.btn-secondary {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

/* Header */
.header {
    background-color: var(--primary-color);
    color: var(--text-color-black);
    padding: 1rem;
    text-align: center;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--text-color)
}

.links:hover {
    color: var(--secondary-color);
}

/* Hero */

.hero {
    display: flex;
    width: 100%;
}

.left-hero {
    width: 30%;
    text-align: center;
    background-color: #AA6290;
}

.left-hero span {
    text-align: left;
    display: block;
    font-size: 38px;
    font-weight: bold;
    color: var(--text-color);
}

.right-hero {
    width: 70%;
    padding: 4px;
    text-align: center;
    background-image: url(./img/hero.png);
    background-size: 100% 100%;
    background-position: left;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 12px;
    color: var(--text-color);
}

@media screen and (min-width: 600px) {
    .left-hero {
        width: 20%;
    }

    .left-hero span {
        font-size: 62px;
    }

    .right-hero {
        width: 80%;
        align-items: start;
        padding: 8px 10%;
    }

    .right-hero h1 {
        font-size: 64px;
    }

    .right-hero a {
        width: 230px;
        font-size: 24px;
        align-self: flex-end;
        padding: 12px 36px;
    }
}

/* Sobre Mi */
.about {
    display: flex;
    flex-direction: column;
    margin: 48px 16px;
    color: var(--text-color);
}

.about h2 {
    font-size: 28px;
    margin-bottom: 24px;
}

.about p {
    font-size: 18px;
    margin-bottom: 24px;
}

.about img {
    width: 100%;
}

@media screen and (min-width: 600px) {
    .about {
        display: flex;
        flex-direction: row;
        
    }

    .about h2 {
        font-size: 48px;
    }

    .about p {
        font-size: 24px;
    }

    .left-about {
        width: 50%;
        margin-right: 18px;
    }

    .right-about {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .right-about img {
        width: 100%;
    }
}
/* Mis skills */
.mis-skills{
    display:flex;
flex-direction: column;
}
.mis-skills h2{
    font-size: 28px;
    color: var(--text-color);
    margin:24px

}
.skills{
    display:flex;
    flex-wrap: wrap;
    background-image: url(./img/fondo.png);
}
.skills img{
    width: 86px;
    height: 86px;
    margin: 16px;
}
@media screen and (min-width: 600px){
    .skills{
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .mis-skills h2{
    
        font-size:48px;
    }
    .skills img{
        width: 120px;
        height: 120px;
        margin: 48px;
     

    }
}
